In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df = pd.read_csv('dsgn.csv')

In [3]:
df

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,...,Revenue,Competitors,LAT,LON,Seniority,Minimum Estimate,Maximum Estimate,City,State,AvgSalary
0,Product Designer,$129K-$153K (Glassdoor est.),About Quora:\n\n\nThe vast majority of human k...,4.1,Quora\n4.1,"Mountain View, CA","Mountain View, CA",201 to 500 employees,2009,Company - Private,...,Unknown / Non-Applicable,-1,37.386052,-122.083851,unspecified,129,153,Mountain View,CA,141.0
1,Product Designer: Subscriptions,$129K-$153K (Glassdoor est.),Job Description\nThe Washington Post is seekin...,4.2,The Washington Post\n4.2,"Washington, DC","Washington, DC",1001 to 5000 employees,1877,Company - Private,...,Unknown / Non-Applicable,"New York Times, Google, Politico",38.907192,-77.036871,unspecified,129,153,Washington,DC,141.0
2,Fire Sprinkler System Designer,$129K-$153K (Glassdoor est.),Absolute Fire Protection is looking for qualif...,3.0,"Absolute Fire Protection, Inc.\n3.0","Rockford, IL","Rockford, IL",1 to 50 employees,2006,Company - Private,...,Unknown / Non-Applicable,-1,42.271131,-89.093995,unspecified,129,153,Rockford,IL,141.0
3,Landscape Designer/Sales One Year plus experie...,$129K-$153K (Glassdoor est.),Natures Path is a family owned business. We ar...,-1.0,Natures Path Pool and Landscape,"Memphis, TN",-1,-1,-1,-1,...,-1,-1,35.149534,-90.048980,unspecified,129,153,Memphis,TN,141.0
4,CNC Programmer/CAD Designer,$129K-$153K (Glassdoor est.),"Somerset Millwork and Cabinetmakers, Inc is lo...",-1.0,Somerset Millwork,"Somerset, PA",-1,-1,-1,-1,...,-1,-1,40.008411,-79.078083,unspecified,129,153,Somerset,PA,141.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Architectural Designer,$94K-$187K (Glassdoor est.),"At Gannett Fleming, we believe in improving th...",4.0,Gannett Fleming\n4.0,"New York, NY","Camp Hill, PA",1001 to 5000 employees,1915,Company - Private,...,$100 to $500 million (USD),STV,40.712775,-74.005973,unspecified,94,187,New York,NY,140.5
996,"Designer, Product",$94K-$187K (Glassdoor est.),About Morningstar\nMorningstar brings inspired...,4.0,Morningstar\n4.0,"Chicago, IL","Chicago, IL",5001 to 10000 employees,1984,Company - Public,...,$1 to $2 billion (USD),"Thomson Reuters, FactSet, Bloomberg L.P.",41.878114,-87.629798,unspecified,94,187,Chicago,IL,140.5
997,Senior Product Design/UX Manager,$94K-$187K (Glassdoor est.),"By applying to this position, your application...",3.2,Wayfair\n3.2,"Boston, MA","Boston, MA",10000+ employees,2002,Company - Public,...,$5 to $10 billion (USD),"Amazon, One Kings Lane, Crate and Barrel",42.360083,-71.058880,senior,94,187,Boston,MA,140.5
998,Senior User Experience Designer,$94K-$187K (Glassdoor est.),Management Controls is looking for a high-impa...,4.1,Management Controls\n4.1,"Houston, TX","Houston, TX",51 to 200 employees,1989,Company - Private,...,$25 to $50 million (USD),-1,29.760427,-95.369803,senior,94,187,Houston,TX,140.5
999,"Experience Designer (UX, UI, Visual)",$94K-$187K (Glassdoor est.),"PK, the Experience Engineering firm, helps the...",3.7,PK\n3.7,"Denver, CO","Portland, OR",1001 to 5000 employees,2004,Company - Private,...,$100 to $500 million (USD),-1,39.739236,-104.990251,unspecified,94,187,Denver,CO,140.5

In [4]:
df=df[df['Headquarters']!='-1']
df['Headquarters'].value_counts()

San Francisco, CA       106
Chicago, IL              92
New York, NY             78
Boston, MA               68
Saint Louis, MO          24
                       ...
Santa Fe Springs, CA      1
Newport News, VA          1
Cambridge, MA             1
Blacksburg, VA            1
Jefferson, IA             1
Name: Headquarters, Length: 187, dtype: int64

In [5]:
df.shape #only 21 rows removed

(984, 22)

In [6]:
df=df[df['Rating']!=-1.0]
df.shape #Another 27 rows removed

(955, 22)

In [7]:
df['State'].value_counts()

 CA              302
 NY              106
 MA               71
 TX               57
 MO               50
 CO               43
 IL               39
 PA               35
 VA               35
 MD               27
 NV               21
United States     21
 AR               20
 WA               13
 WI               12
 UT               11
 FL               10
 DC                9
 GA                8
 IN                7
 OH                7
 NC                6
 NJ                6
 MI                6
Chicago            5
 AK                4
 MN                4
 OR                3
 AL                3
 AZ                3
 LA                1
 IA                1
 KS                1
Arkansas           1
 NE                1
New Jersey         1
 ME                1
 TN                1
Remote             1
 CT                1
 SC                1
Name: State, dtype: int64

In [8]:
non_state_ab = df[(df['State'] == 'United States') | (df['State'] == 'Chicago') | (df['State'] == 'New Jersey') | (df['State'] == 'Arkansas') | (df['State'] == 'Remote')].index
df = df.drop(non_state_ab)

In [9]:
df['jobhq'] = df.apply(lambda x: 1 if x['Location'] == x['Headquarters'] else 0, axis = 1)
df.jobhq.value_counts()

1    467
0    459
Name: jobhq, dtype: int64

In [10]:
df['age']=df.Founded.apply(lambda x: x if x<1 else 2020-x)
df.age.value_counts() #we have 92 companies with no founding date but we can't remove that many rows

18    66
4     55
7     48
9     48
34    46
      ..
63     1
62     1
59     1
52     1
54     1
Name: age, Length: 99, dtype: int64

In [15]:
df['Job Title'].value_counts()

Graphic Designer                  58
Designer                          48
Product Designer                  42
Architectural Designer            39
Senior Product Designer           35
                                  ..
Senior Product Designer (NY)       1
Systems Designer                   1
Experiential Graphic Designer      1
Designer, Digital                  1
Senior User Interface Designer     1
Name: Job Title, Length: 216, dtype: int64

In [16]:
def title_simplifier(title):
    if 'product desinger' in title.lower():
        return 'product designer'
    elif 'graphic' in title.lower() or 'art' in title.lower() or 'digital' in title.lower():
        return 'graphic designer'
    elif 'ui/ux' in title.lower() or 'ux/ui' in title.lower() or 'ui' in title.lower() or 'ux' in title.lower() or 'experience' in title.lower() or 'interaction' in title.lower():
        return 'ui/ux'
    elif 'mechanical' in title.lower() or 'architect' in title.lower() or 'architectural' in title.lower() or 'landscape' in title.lower() or 'electrical' in title.lower() or 'plumbing' in title.lower() or 'piping' in title.lower() or 'interior' in title.lower() or 'cad' in title.lower():
        return 'structural'
    elif 'web' in title.lower() or 'website' in title.lower():
        return 'web'
    else:
        return 'unspecified'

In [17]:
def title_number_simplifier(title):
    if 'product designer' in title.lower():
        return 6
    elif 'graphic designer' in title.lower():
        return 2
    elif 'ui/ux' in title.lower():
        return 5
    elif 'structural' in title.lower():
        return 3
    elif 'web' in title.lower():
        return 4
    else:
        return 1

In [18]:
df['job_type']=df['Job Title'].apply(title_simplifier)
df['job_type_num']=df['Job Title'].apply(title_number_simplifier)
df['job_type'].value_counts()

unspecified         443
ui/ux               202
structural          174
graphic designer     97
web                  10
Name: job_type, dtype: int64

In [19]:
def seniority(title):
    
    '''Identify and group specific job titles'''
    
    title = title.lower()
    title = title.strip()
    
    seniority = ['senior', 'sr.', 'sr', 'lead', 'expert', 'experienced', 'principal']
    juniority = ['junior', 'jr.', 'jr', 'intern']
    
    for i in seniority:
        if i in title:
            return 'senior'
    
    for i in juniority:
        if i in title:
            return 'junior'
    
    else:
        return 'unspecified'

In [22]:
def seniority_number(title):
    title = title.lower()
    title = title.strip()
    
    seniority = ['senior', 'sr.', 'sr', 'lead', 'expert', 'experienced', 'principal']
    juniority = ['junior', 'jr.', 'jr', 'intern']
    
    for i in seniority:
        if i in title:
            return '1'
    
    for i in juniority:
        if i in title:
            return '0'
    
    else:
        return '2'

In [23]:
df['seniority']=df['Job Title'].apply(seniority)
df['seniority_num']=df['Job Title'].apply(seniority_number)
df['seniority'].value_counts()

unspecified    634
senior         290
junior           2
Name: seniority, dtype: int64

In [30]:
df['figma_yn'] = df['Job Description'].apply(lambda x: 1 if 'figma' in x.lower() else 0)
df.figma_yn.value_counts() 

df['adobe_yn'] = df['Job Description'].apply(lambda x: 1 if 'adobe' in x.lower() else 0)
df.adobe_yn.value_counts()

df['cad_yn'] = df['Job Description'].apply(lambda x: 1 if 'cad' in x.lower() else 0)
df.cad_yn.value_counts()

df['html_css_js_yn'] = df['Job Description'].apply(lambda x: 1 if 'html' in x.lower() or 'css' in x.lower() or 'javascript' in x.lower() else 0)
df.html_css_js_yn.value_counts()

df['photo_yn'] = df['Job Description'].apply(lambda x: 1 if 'photo' in x.lower() else 0)
df.photo_yn.value_counts()

df['graphic_yn'] = df['Job Description'].apply(lambda x: 1 if 'graphic' in x.lower() else 0)
df.graphic_yn.value_counts()

0    550
1    376
Name: graphic_yn, dtype: int64

In [31]:
df.columns

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'LAT', 'LON', 'Seniority', 'Minimum Estimate', 'Maximum Estimate',
       'City', 'State', 'AvgSalary', 'jobhq', 'age', 'job_type',
       'job_type_num', 'seniority', 'seniority_num', 'figma_yn', 'adobe_yn',
       'cad_yn', 'html_css_js_yn', 'photo_yn', 'graphic_yn'],
      dtype='object')

In [32]:
df.to_csv('dsgn_cleaned.csv',index=False)